In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import calendar

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
import category_encoders as ce
from sklearn.preprocessing import LabelEncoder
warnings.filterwarnings('ignore')

In [ ]:
from sklearn import cross_validation, metrics
from sklearn.grid_search import GridSearchCV

In [6]:
# %timeit sirve para evaluar el tiempo de ejecucion
train_entrenamiento = pd.read_csv('train_paso_4.csv')
test_entrenamiento = pd.read_csv('test_paso_4.csv')
test = pd.read_csv('trocafone_kaggle_test.csv')

In [4]:
def agregarcolumnas(archivo):
    bi=ce.BinaryEncoder(cols=['most_frequent_event','less_frequent_event'])
    result_encoder= bi.fit_transform( archivo)
    
    return result_encoder

In [7]:
train=agregarcolumnas(train_entrenamiento)

In [8]:
test=agregarcolumnas(test_entrenamiento)

In [9]:
train.head()

,most_frequent_event_0,most_frequent_event_1,most_frequent_event_2,most_frequent_event_3,most_frequent_event_4,less_frequent_event_0,less_frequent_event_1,less_frequent_event_2,less_frequent_event_3,less_frequent_event_4,...,Sony,iPad,iPhone,Direct,Email,Organic,Paid,Referral,Social,desconocido_channel
0,0,0,0,0,1,0,0,0,0,1,...,1.00,0.00,11.00,8.00,0.00,1.00,0.00,8.00,0.00,0.00
1,0,0,0,1,0,0,0,0,1,0,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00
2,0,0,0,0,1,0,0,0,0,1,...,0.00,0.00,18.00,2.00,0.00,2.00,6.00,10.00,2.00,0.00
3,0,0,0,0,1,0,0,0,1,1,...,3.00,0.00,0.00,0.00,0.00,1.00,0.00,3.00,0.00,0.00
4,0,0,0,0,1,0,0,1,0,0,...,0.00,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00

In [10]:
test.head()

,most_frequent_event_0,most_frequent_event_1,most_frequent_event_2,most_frequent_event_3,most_frequent_event_4,less_frequent_event_0,less_frequent_event_1,less_frequent_event_2,less_frequent_event_3,less_frequent_event_4,...,Sony,iPad,iPhone,Direct,Email,Organic,Paid,Referral,Social,desconocido_channel
0,0,0,0,0,1,0,0,0,0,1,...,0.00,0.00,0.00,0.00,0.00,1.00,0.00,0.00,0.00,0.00
1,0,0,0,0,1,0,0,0,1,0,...,0.00,5.00,405.00,56.00,0.00,1.00,21.00,17.00,0.00,0.00
2,0,0,0,0,1,0,0,0,1,1,...,0.00,0.00,6.00,0.00,0.00,1.00,1.00,0.00,0.00,0.00
3,0,0,0,0,1,0,0,0,0,1,...,22.00,0.00,8.00,1.00,0.00,14.00,6.00,1.00,0.00,0.00
4,0,0,0,0,1,0,0,0,0,1,...,0.00,0.00,176.00,2.00,0.00,3.00,6.00,9.00,0.00,0.00

In [13]:
train.to_csv("train_paso_5.csv", index = False)

In [14]:
test.to_csv("test_paso_5.csv", index = False)