In [96]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import calendar

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [97]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.datasets import make_classification

In [98]:
X, y = make_classification(n_samples=1000, n_features=4,
                           n_informative=2, n_redundant=0,
                             random_state=0, shuffle=False)

In [99]:
# %timeit sirve para evaluar el tiempo de ejecucion
event = pd.read_csv('events_up_to_01062018.csv')
label_train = pd.read_csv('labels_training_set.csv')
test = pd.read_csv('trocafone_kaggle_test.csv')

#projects_2017.head()trocafone_kaggle_test
#projects_2017

In [100]:
event.head(5)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.00,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,"6,888.00",iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,"11,890.00",iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,"7,517.00",LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [101]:
events_test = event.merge(test,on='person',how='inner')
events_test.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:30:30,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:07:23,search engine hit,4886f805,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:56,checkout,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:35,viewed product,4886f805,NaN,"9,287.00",Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [102]:
 #feature engine trucho
events_training = event.merge(label_train,on='person',how='inner')
events_training.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,label
0,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.00,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2018-05-18 00:23:33,viewed product,ad93850f,NaN,318.00,iPhone 5s,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2018-05-18 00:16:10,viewed product,ad93850f,NaN,"5,907.00",iPhone 5s,Bom - Sem Touch ID,16GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2018-05-18 00:14:55,viewed product,ad93850f,NaN,"6,023.00",iPhone 5s,Bom - Sem Touch ID,16GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2018-05-18 00:11:26,ad campaign hit,ad93850f,/comprar/iphone/iphone-5s,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [103]:
 datos_uno = events_training.loc[:,['person','event']]

In [104]:
cantidad_eventos = datos_uno.groupby('person').count().reset_index()
cantidad_eventos.columns=['person','event_count']
cantidad_eventos.head()

     person  event_count
0  0008ed71            6
1  000c79fe           17
2  001802e4           19
3  0019e639          471
4  001b0bf9            7

In [105]:
datos_dos = events_training.loc[:,['person','event','timestamp']]
datos_dos = datos_dos.groupby(['person','event']).count().reset_index()
datos_dos.columns=['person','event','cant_per_event']
datos_dos.head()

     person            event  cant_per_event
0  0008ed71         checkout               3
1  0008ed71  generic listing               1
2  0008ed71     visited site               2
3  000c79fe  ad campaign hit               1
4  000c79fe         checkout               1

In [106]:
maximo_evento = datos_dos.groupby('person').apply(lambda x: x.nlargest(1,'cant_per_event')).reset_index(drop=True)
maximo_evento.head()

     person              event  cant_per_event
0  0008ed71           checkout               3
1  000c79fe  searched products               9
2  001802e4    ad campaign hit               5
3  0019e639     viewed product             189
4  001b0bf9           checkout               2

In [107]:
minimo_evento = datos_dos.groupby('person').apply(lambda x: x.nsmallest(1,'cant_per_event')).reset_index(drop=True)
minimo_evento.head()

     person            event  cant_per_event
0  0008ed71  generic listing               1
1  000c79fe  ad campaign hit               1
2  001802e4         checkout               1
3  0019e639       conversion               2
4  001b0bf9    brand listing               1

In [108]:
minimo_evento.columns=['person','less_frequent_event','count_less_frequent_event']

In [109]:
maximo_evento.columns=['person','most_frequent_event','count_most_frequent_event']

In [110]:
media_evento = datos_dos.loc[:,['person','cant_per_event']]\
                .groupby('person').agg(lambda x: x.mean()).reset_index()

In [111]:
 media_evento.columns=['person','mean_per_event']

In [112]:
media_evento.head(10)

     person       mean_per_event
0  0008ed71                 2.00
1  000c79fe                 2.43
2  001802e4                 3.17
3  0019e639                52.33
4  001b0bf9                 1.40
5  001ca5ee                13.71
6  001dfc31                 7.00
7  001e9aea                 9.00
8  0020152e                 1.80
9  002b0188                 5.43

In [113]:
valores = media_evento.merge(maximo_evento,on='person',how='inner').merge(minimo_evento,on='person',how='inner')

In [114]:
valores.head()

,person,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,0008ed71,2.00,checkout,3,generic listing,1
1,000c79fe,2.43,searched products,9,ad campaign hit,1
2,001802e4,3.17,ad campaign hit,5,checkout,1
3,0019e639,52.33,viewed product,189,conversion,2
4,001b0bf9,1.40,checkout,2,brand listing,1

In [115]:
#test

In [116]:
datos_dos_test = events_test.loc[:,['person','event','timestamp']]
datos_dos_test = datos_dos_test.groupby(['person','event']).count().reset_index()
datos_dos_test.columns=['person','event','cant_per_event']
datos_dos_test.head()

     person            event  cant_per_event
0  00091926  ad campaign hit              15
1  00091926    brand listing              25
2  00091926         checkout               2
3  00091926   viewed product             372
4  00091926     visited site              34

In [117]:
maximo_evento_test = datos_dos_test.groupby('person').apply(lambda x: x.nlargest(1,'cant_per_event')).reset_index(drop=True)
maximo_evento_test.head()

     person           event  cant_per_event
0  00091926  viewed product             372
1  00091a7a   brand listing               5
2  000ba417  viewed product             153
3  000e4d9e  viewed product             339
4  000e619d  viewed product              28

In [118]:
minimo_evento_test = datos_dos_test.groupby('person').apply(lambda x: x.nsmallest(1,'cant_per_event')).reset_index(drop=True)
minimo_evento_test.head()

     person            event  cant_per_event
0  00091926         checkout               2
1  00091a7a  ad campaign hit               1
2  000ba417  ad campaign hit               1
3  000e4d9e         checkout               1
4  000e619d         checkout               1

In [119]:
minimo_evento_test.columns=['person','less_frequent_event','count_less_frequent_event']

In [120]:
maximo_evento_test.columns=['person','most_frequent_event','count_most_frequent_event']

In [121]:
media_evento_test = datos_dos_test.loc[:,['person','cant_per_event']]\
                .groupby('person').agg(lambda x: x.mean()).reset_index()

In [122]:
 media_evento_test.columns=['person','mean_per_event']

In [123]:
media_evento_test.head(10)

     person       mean_per_event
0  00091926                89.60
1  00091a7a                 2.50
2  000ba417                25.75
3  000e4d9e                58.71
4  000e619d                 8.50
5  001001be                11.33
6  0010e89a                 1.00
7  0016c4b5                 1.00
8  001804a2                 1.33
9  001a2273                 3.20

In [124]:
valores_test = media_evento_test.merge(maximo_evento_test,on='person',how='inner').merge(minimo_evento_test,on='person',how='inner')

In [125]:
valores_test.head()

,person,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,00091926,89.60,viewed product,372,checkout,2
1,00091a7a,2.50,brand listing,5,ad campaign hit,1
2,000ba417,25.75,viewed product,153,ad campaign hit,1
3,000e4d9e,58.71,viewed product,339,checkout,1
4,000e619d,8.50,viewed product,28,checkout,1

In [126]:
#feature engine trucho
train_entrenamiento= pd.merge(valores,label_train,how='inner',on='person')

In [127]:
test_entrenamiento=pd.merge(test,valores_test ,how='inner',on='person')

In [153]:
test_entrenamiento.head()

,person,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,4886f805,1.50,viewed product,4,checkout,1
1,0297fc1e,70.88,viewed product,404,lead,1
2,2d681dd8,3.25,viewed product,13,ad campaign hit,1
3,cccea85e,92.89,viewed product,739,checkout,1
4,4c8a8b93,32.12,viewed product,177,checkout,2

In [131]:
labe_train_con_feature=pd.merge(label_train,eventos,how='inner',on='person')
labe_train_con_feature=labe_train_con_feature.drop_duplicates(subset='person',keep='first')
labe_train_con_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19414 entries, 0 to 1171874
Data columns (total 3 columns):
person    19414 non-null object
label     19414 non-null int64
sku       19414 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 606.7+ KB

In [155]:
#feature engieri del test,misma columna train,pero sin label.

In [154]:
string_columns=train_entrenamiento.columns
string_columns

Index(['person', 'mean_per_event', 'most_frequent_event',
       'count_most_frequent_event', 'less_frequent_event',
       'count_less_frequent_event', 'label'],
      dtype='object')

In [156]:
#hash
#Transformo texto a numeros
for f in string_columns:
         train_entrenamiento[f] = train_entrenamiento.apply(lambda row:  hash(row[f]) if not(pd.isnull(row[f]))
         else np.nan, axis = 1)

In [157]:
train_entrenamiento.head(5)

,person,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event,label
0,5783719891735097432,2,-3321427977443415993,3,-5575787758416917550,1,0
1,-2695064926297092815,988218432520154114,-8102148866756196458,9,-3204264897263421286,1,0
2,2828732155313705718,384307168202281987,-3204264897263421286,5,-3321427977443415993,1,0
3,8651027904127404999,768614336404570164,4298854195681299214,189,5772593233810392542,2,0
4,-6605295080034850387,922337203685477377,-3321427977443415993,2,1116516004969496689,1,0

In [137]:
# es entrenar el modelo en  ramdom forest

In [138]:
#formato del train

In [158]:
train_label = train_entrenamiento['label']
train_label.head()

0    0
1    0
2    0
3    0
4    0
Name: label, dtype: int64

In [159]:
train = train_entrenamiento.drop('label', 1)
train.head()

,person,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,5783719891735097432,2,-3321427977443415993,3,-5575787758416917550,1
1,-2695064926297092815,988218432520154114,-8102148866756196458,9,-3204264897263421286,1
2,2828732155313705718,384307168202281987,-3204264897263421286,5,-3321427977443415993,1
3,8651027904127404999,768614336404570164,4298854195681299214,189,5772593233810392542,2
4,-6605295080034850387,922337203685477377,-3321427977443415993,2,1116516004969496689,1

In [160]:
forest = RandomForestRegressor(n_estimators = 20, n_jobs = -1,random_state =3 ,
                                max_features = "auto", min_samples_leaf = 6)

In [161]:
forest.fit(train, train_label)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=6, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=-1,
           oob_score=False, random_state=3, verbose=0, warm_start=False)

In [162]:
string_columns=test_entrenamiento.columns
string_columns

Index(['person', 'mean_per_event', 'most_frequent_event',
       'count_most_frequent_event', 'less_frequent_event',
       'count_less_frequent_event'],
      dtype='object')

In [163]:
#hash del test
#hash
#Transformo texto a numeros
for f in string_columns:
         test_entrenamiento[f] = test_entrenamiento.apply(lambda row:  hash(row[f]) if not(pd.isnull(row[f]))
         else np.nan, axis = 1)

In [164]:
test_entrenamiento.head()

,person,mean_per_event,most_frequent_event,count_most_frequent_event,less_frequent_event,count_less_frequent_event
0,-4891183520668851078,1152921504606846977,4298854195681299214,4,-3321427977443415993,1
1,-8770688728813595486,2017612633061982278,4298854195681299214,404,-2951917184079555707,1
2,-5513448407038809767,576460752303423491,4298854195681299214,13,-3204264897263421286,1
3,-8417869777177238728,2049638230412165212,4298854195681299214,739,-3321427977443415993,1
4,-7571397536028703558,288230376151711776,4298854195681299214,177,-3321427977443415993,2

In [166]:
#predecimos
prediction = forest.predict(test_entrenamiento)

In [167]:
 len(prediction)

19415

In [168]:
ids = test['person'].values
dataKaggle = pd.DataFrame(ids ,columns={'person'})
dataKaggle.head(5)

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [169]:
len(dataKaggle)

19415

In [170]:
#Aca agregamos una columna que seria se postulop
dataKaggle['label'] = prediction

In [171]:
 dataKaggle.nlargest(5,'label'  )

         person                label
6804   dbdd72ad                 0.44
17563  59ad218f                 0.43
3657   a82b0917                 0.43
2679   cb041887                 0.42
4212   06b3441e                 0.41

In [172]:
dataKaggle.to_csv("predictionRandonForest2.csv", index = False)