In [1]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import calendar

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [2]:
# %timeit sirve para evaluar el tiempo de ejecucion
events = pd.read_csv('events_up_to_01062018.csv')
label_train = pd.read_csv('labels_training_set.csv')
test = pd.read_csv('trocafone_kaggle_test.csv')

#projects_2017.head()trocafone_kaggle_test
#projects_2017

In [3]:
eventostrain=events.merge(label_train,on='person',how='inner')

In [4]:
eventostrain['date']=pd.to_datetime(eventostrain['timestamp'])
#datos1=eventostrain.loc[:,'person','date']
train_min=eventostrain.head(150)

In [5]:
train_min.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,label,date
0,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.00,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2018-05-18 00:11:27
1,2018-05-18 00:23:33,viewed product,ad93850f,NaN,318.00,iPhone 5s,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2018-05-18 00:23:33
2,2018-05-18 00:16:10,viewed product,ad93850f,NaN,"5,907.00",iPhone 5s,Bom - Sem Touch ID,16GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2018-05-18 00:16:10
3,2018-05-18 00:14:55,viewed product,ad93850f,NaN,"6,023.00",iPhone 5s,Bom - Sem Touch ID,16GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2018-05-18 00:14:55
4,2018-05-18 00:11:26,ad campaign hit,ad93850f,/comprar/iphone/iphone-5s,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,2018-05-18 00:11:26

In [6]:
def est(data):
    return d
    
train_min.groupby('person').apply(lambda x: est).head()

person
1b9f7cf6    <function est at 0x7fbaf09835f0>
45baf068    <function est at 0x7fbaf09835f0>
ad93850f    <function est at 0x7fbaf09835f0>
de8fe91b    <function est at 0x7fbaf09835f0>
dtype: object

In [7]:
grouped = train_min.groupby('person')
salida=[]
diccionario={}

for name, group in grouped:
    print "holaa"
    
    #print group[['event','date']]
   # for indexx, row in group.T.iteritems():
    #    (row.model)
        #lista=row[index]-row[index+1]
#lista.mean()

holaa
holaa
holaa
holaa

In [71]:
#agregamos dicciorio con los modelos mas populares
diccionario=train_min.loc[:,['person','model']].groupby('model').count().sort_values('person',ascending=False).reset_index()
# diccionario.head()
for d in diccionario:
    print d 
# diccionario=diccionario.to_dict()
# diccionario=diccionario.to_dict()
#diccionario
# print diccionario.get('iPhone 5s')
# diccionario.get('person')

model
person

In [149]:
#calculamos la diferencia de tiempo entre eventos
data1=train_min
data1=train_min.loc[:,['person','date']].sort_values('date',ascending=True)
data1['dateaux']=data1['date'].shift(periods=1,axis=0)
data1['personaux']=data1['person'].shift(periods=1,axis=0)
data1['aux']=data1['person']==data1['personaux']
#data1.groupby('person').apply(lambda x: )
data1=data1[data1['aux']==True]
data1['diftime']=(data1['date']-data1['dateaux']).dt.total_seconds()
#hasta aca lo que quieriamos
data1=data1.loc[:,['person','diftime']]
data1=data1.groupby('person').std().reset_index()
data1.head()

     person              diftime
0  1b9f7cf6                48.02
1  45baf068                12.02
2  ad93850f            12,395.20
3  de8fe91b                37.71

In [147]:
data1=train_min.merge(data1,on=['person','date'],how='inner')
data1.sort_values('date',ascending=True).groupby('person').head(2)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,new_vs_returning_y,city_y,region_y,country_y,device_type_y,screen_resolution_y,operating_system_version_y,browser_version_y,label_y,diftime
55022,2018-05-14 23:50:22,visited site,ad93850f,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,New,São Paulo,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,0,0.00
54992,2018-05-14 23:50:22,search engine hit,ad93850f,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,New,São Paulo,Sao Paulo,Brazil,Smartphone,360x640,Android 5.1.1,Chrome Mobile 66.0,0,0.00
55309,2018-05-17 19:25:08,visited site,1b9f7cf6,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,New,Unknown,Unknown,Brazil,Smartphone,360x640,Android 5.1,Chrome Mobile 66.0,0,0.00
55285,2018-05-17 19:25:08,search engine hit,1b9f7cf6,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,New,Unknown,Unknown,Brazil,Smartphone,360x640,Android 5.1,Chrome Mobile 66.0,0,0.00
55463,2018-05-18 00:36:03,visited site,de8fe91b,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,0.00
55460,2018-05-18 00:36:03,visited site,de8fe91b,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,New,São Paulo,Sao Paulo,Brazil,Computer,1280x800,Windows 10,Chrome 66.0,0,0.00
55547,2018-05-18 00:40:09,ad campaign hit,45baf068,/,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,13.00
55548,2018-05-18 00:54:48,viewed product,45baf068,NaN,"3,359.00",Samsung Galaxy S6 Flat,Bom,32GB,Preto,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0,30.00

In [8]:
eventos=eventostrain
eventos['mintime']=eventos.groupby('person').

In [44]:
maximo=eventos.groupby('person').agg({'date':lambda x:(x.max()-x.min())}).reset_index().apply({'date':lambda x: x.total_seconds()})
maximo.head()

                  date
0            14,450.00
1               620.00
2               646.00
3         9,877,797.00
4               918.00

In [56]:
string_columns = ["model"]
    
    #Transformo texto a numeros
    for f in string_columns:

        eventos[f] = eventos.apply(lambda row:  hash(row[f]) if not(pd.isnull(row[f])) else np.nan, axis = 1)

SyntaxError: invalid syntax (<ipython-input-56-181f60fd220e>, line 1)

In [19]:
pd.Timedelta(maximo-minimo).seconds/3600

ValueError: Value must be Timedelta, string, integer, float, timedelta or convertible

In [51]:
#feature engieri del test,misma columna train,pero sin label.
 
test_feature_engenieri=pd.merge(test,eventos,how='inner',on='person')
test_feature_engenieri=test_feature_engenieri.drop_duplicates(subset='person',keep='first')
labe_train_con_feature.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 19414 entries, 0 to 1171874
Data columns (total 3 columns):
person    19414 non-null object
label     19414 non-null int64
sku       19414 non-null float64
dtypes: float64(1), int64(1), object(1)
memory usage: 606.7+ KB

In [52]:
string_columns=labe_train_con_feature.columns
string_columns

Index(['person', 'label', 'sku'], dtype='object')

In [53]:
#hash
#Transformo texto a numeros
for f in string_columns:
         labe_train_con_feature[f] = labe_train_con_feature.apply(lambda row:  hash(row[f]) if not(pd.isnull(row[f]))
         else np.nan, axis = 1)

In [54]:
labe_train_con_feature.head(5)

                  person  label   sku
0    9185933318720544067      0     0
68   9034762767663080449      0     0
70    259413289375064484      0  3359
166 -4951965066334574255      0     0
203  2655864631403522232      0     0

In [55]:
# es entrenar el modelo en  ramdom forest

In [56]:
#formato del train

In [57]:
train_label = labe_train_con_feature['label']
train_label.head()

0      0
68     0
70     0
166    0
203    0
Name: label, dtype: int64

In [58]:
train = labe_train_con_feature.drop('label', 1)
train.head()
train=train[['person','sku']] 
train.head()

                  person   sku
0    9185933318720544067     0
68   9034762767663080449     0
70    259413289375064484  3359
166 -4951965066334574255     0
203  2655864631403522232     0

In [59]:
forest = RandomForestRegressor(n_estimators = 20, n_jobs = -1,random_state =3 ,
                                max_features = "auto", min_samples_leaf = 6)

In [60]:
forest.fit(train, train_label)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=6, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=20, n_jobs=-1,
           oob_score=False, random_state=3, verbose=0, warm_start=False)

In [61]:
string_columns=test_feature_engenieri.columns
string_columns

Index(['person', 'sku'], dtype='object')

In [62]:
#hash del test
#hash
#Transformo texto a numeros
for f in string_columns:
         test_feature_engenieri[f] = test_feature_engenieri.apply(lambda row:  hash(row[f]) if not(pd.isnull(row[f]))
         else np.nan, axis = 1)

In [63]:
test_feature_engenieri.head()

                   person    sku
0     1612889871667063446   9288
9    -3473783696745989064   6888
576  -7874171715875044824  11890
602   8220131127206862214   7517
1438  2768383520292848369      0

In [64]:
#predecimos
prediction = forest.predict(test_feature_engenieri)

In [65]:
 len(prediction)

19415

In [74]:
ids = test['person'].values
dataKaggle = pd.DataFrame(ids ,columns={'person'})
dataKaggle.head(5)

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [67]:
len(dataKaggle)

19415

In [75]:
#Aca agregamos una columna que seria se postulop
dataKaggle['label'] = prediction

In [81]:
 dataKaggle.nlargest(5,'label'  )

        person                label
138   22f1d021                 0.58
706   38b66a87                 0.56
2076  ad1f751c                 0.53
3489  cd4168bc                 0.53
8903  36c224c9                 0.53

In [10]:
dataKaggle.to_csv("predictionRandonForest.csv", index = False)

NameError: name 'dataKaggle' is not defined

In [17]:
eventos=event
eventos['mintime']=event.groupby('person').agg({'timestamp':'min'})
eventos['tiempomax']=event.groupby('person').agg({'timestamp':'max'})
eventos.head(5)

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,mintime,tiempomax
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.00,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:11:16,viewed product,0297fc1e,NaN,"6,888.00",iPhone 6S,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:14,viewed product,2d681dd8,NaN,"11,890.00",iPhone 7,Bom,128GB,Vermelho,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:09,viewed product,cccea85e,NaN,"7,517.00",LG G4 H818P,Excelente,32GB,Branco,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
event['date']=pd.to_datetime(event['timestamp'])
datos1=event.loc[:,'person','date']
datos1.head()

IndexingError: Too many indexers

In [27]:
event['date']=pd.to_datetime(event['timestamp'])
datos1=event.loc[:,'person','date']
datos1.head()

#def mintime(x):
#    x.min()
    
#datos1['timemin']=datos1.groupby('person').agg({'timestamp':mintime})
#datos1.head()

#maximo_evento = maximo_evento.drop('cant_per_event',axis=1)
#minimo_evento = datos_dos.groupby('person').apply(lambda x: x.nsmallest(1,'cant_per_event')).reset_index(drop=True)

IndexingError: Too many indexers

In [175]:
 #calculamos la diferencia de tiempo entre eventos
data1=train_min
data1=train_min.loc[:,['person','date']].sort_values('date',ascending=True)
data1['dateaux']=data1['date'].shift(periods=1,axis=0)
data1['personaux']=data1['person'].shift(periods=1,axis=0)
data1['aux']=data1['person']==data1['personaux']
#data1.groupby('person').apply(lambda x: )
data1=data1[data1['aux']==True]
data1['diftime']=(data1['date']-data1['dateaux']).dt.total_seconds()

#aca tenemos la desviacion estandar
data1=data1.loc[:,['person','diftime']]

#aca va la desviacion estandar
datostd=data1.groupby('person').agg({'diftime':np.std})
datostd.head()

                      diftime
person
1b9f7cf6                48.02
45baf068                12.02
ad93850f            12,395.20
de8fe91b                37.71

In [ ]:
data1=train_min.merge(data1,on=['person','date'],how='inner')
data1.sort_values('date',ascending=True).groupby('person').head(2)

In [181]:
#media de las diferencias 
datamean=data1
datamean=data1.groupby('person').agg({'diftime':np.mean})
datamean.head()

                      diftime
person
1b9f7cf6                33.94
45baf068                21.50
ad93850f             1,613.64
de8fe91b                30.79

In [183]:

datamedian=data1
datamedian=data1.groupby('person').agg({'diftime':np.median})
datamedian.head()

                      diftime
person
1b9f7cf6                16.00
45baf068                21.50
ad93850f                11.00
de8fe91b                21.00

In [ ]:
#desviacion estandar diferencia de eventos en el tiempo
datamedian=data1
datamedian=data1.groupby('person').agg({'diftime':np.std})
datamedian.head()