In [3]:
# importacion general de librerias y de visualizacion (matplotlib y seaborn)
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns
import calendar

%matplotlib inline

plt.style.use('default') # haciendo los graficos un poco mas bonitos en matplotlib
#plt.rcParams['figure.figsize'] = (20, 10)

sns.set(style="whitegrid") # seteando tipo de grid en seaborn

pd.options.display.float_format = '{:20,.2f}'.format # suprimimos la notacion cientifica en los outputs

import warnings
warnings.filterwarnings('ignore')

In [4]:
# %timeit sirve para evaluar el tiempo de ejecucion
events = pd.read_csv('events_up_to_01062018.csv')
label_train = pd.read_csv('labels_training_set.csv')
test = pd.read_csv('trocafone_kaggle_test.csv')

#projects_2017.head()trocafone_kaggle_test
#projects_2017

In [40]:
label_train.head()

     person  label
0  0566e9c1      0
1  6ec7ee77      0
2  abe7a2fb      0
3  34728364      0
4  87ed62de      0

In [41]:
test.head()

     person
0  4886f805
1  0297fc1e
2  2d681dd8
3  cccea85e
4  4c8a8b93

In [8]:
events_test = events.merge(test,on='person',how='inner')

In [42]:
events_test.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,search_engine,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version
0,2018-05-18 00:11:59,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2018-05-18 00:30:30,viewed product,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2018-05-18 00:07:23,search engine hit,4886f805,NaN,nan,NaN,NaN,NaN,NaN,NaN,...,Google,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2018-05-18 00:11:56,checkout,4886f805,NaN,"9,288.00",Samsung Galaxy J7 Prime,Excelente,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2018-05-18 00:11:35,viewed product,4886f805,NaN,"9,287.00",Samsung Galaxy J7 Prime,Muito Bom,32GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
 #feature engine trucho
events_training = events.merge(label_train,on='person',how='inner')
events_training.head()

,timestamp,event,person,url,sku,model,condition,storage,color,skus,...,channel,new_vs_returning,city,region,country,device_type,screen_resolution,operating_system_version,browser_version,label
0,2018-05-18 00:11:27,viewed product,ad93850f,NaN,304.00,iPhone 5s,Muito Bom,32GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,2018-05-18 00:23:33,viewed product,ad93850f,NaN,318.00,iPhone 5s,Muito Bom,64GB,Prateado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
2,2018-05-18 00:16:10,viewed product,ad93850f,NaN,"5,907.00",iPhone 5s,Bom - Sem Touch ID,16GB,Cinza espacial,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,2018-05-18 00:14:55,viewed product,ad93850f,NaN,"6,023.00",iPhone 5s,Bom - Sem Touch ID,16GB,Dourado,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,2018-05-18 00:11:26,ad campaign hit,ad93850f,/comprar/iphone/iphone-5s,nan,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0

In [10]:
events_training['date'] = pd.to_datetime(events_training['timestamp'])

In [26]:
 #calculamos la diferencia de tiempo entre eventos
data1=events_training
data1=events_training.loc[:,['person','date']].sort_values('date',ascending=True)
data1['dateaux']=data1['date'].shift(periods=1,axis=0)
data1['personaux']=data1['person'].shift(periods=1,axis=0)
data1['aux']=data1['person']==data1['personaux']
#data1.groupby('person').apply(lambda x: )
data1=data1[data1['aux']==True]
data1['diftime']=(data1['date']-data1['dateaux']).dt.total_seconds()
len(data1)
#aca tenemos la desviacion estandar
# data1=data1.loc[:,['person','diftime']]

# #aca va la desviacion estandar
# datostd=data1.groupby('person').agg({'diftime':np.std})
# datostd.head()

419051

In [27]:
data1=data1[['person','diftime']]
data1.head()

          person              diftime
418276  7c7e0de9                 0.00
418293  7c7e0de9                 0.00
366474  8af11dbc                 0.00
366432  8af11dbc                 0.00
366256  8af11dbc                64.00

In [28]:
datamean=data1.groupby('person').mean()

In [29]:
datameanntrain=label_train.merge(datamean,on='person',how='left')

In [30]:
datameanntrain.fillna(0)

         person  label              diftime
0      0566e9c1      0                 0.33
1      6ec7ee77      0                 0.00
2      abe7a2fb      0                 9.46
3      34728364      0                 0.67
4      87ed62de      0                 0.33
5      db2c4d27      1                10.79
6      cde431db      0                 0.50
7      be65035b      0                 1.67
8      a4178891      0                 0.00
9      d066f64c      0                 1.43
10     47a783b9      0                 0.21
11     7fc00648      0                 4.88
12     ce16abb3      0                 0.11
13     4b38d082      0                 0.00
14     0566e256      0                 1.60
15     e0ffa75e      0                 0.00
16     79ed8b5b      0                 0.31
17     20f4c917      0                 0.00
18     c4af15f2      0                 0.00
19     de1a55e7      0                 0.00
20     57bab525      0                 2.33
21     16426a08      0                 0.20
22     111ac3c5      0                 1.00
23     8f73daae      0                 3.38
24     001ca5ee      0                 5.24
25     8123457d      1                 6.88
26     6b78331f      0                 0.80
27     6421d9fe      0                 2.00
28     d343d6ee      0                 0.00
29     835621ad      0                 3.49
...         ...    ...                  ...
19384  2fd6b983      0                 0.00
19385  f30721d8      0                 8.41
19386  5661d24b      0                 0.00
19387  69f54c01      0                 2.50
19388  5dc3dfa0      0                 9.00
19389  538c3e87      1                 1.54
19390  53310f1e      0                10.50
19391  d02b846e      0                13.90
19392  fd0c46ae      0                 5.95
19393  c1ce8fe8      0                 0.00
19394  a10d7315      0                 1.62
19395  fca36951      0                 1.83
19396  abe8384c      0                 4.84
19397  a4f586da      0                 0.00
19398  fa24d575      0                 0.71
19399  65f9674b      0                 0.71
19400  61096769      0                 1.25
19401  d144c86d      0                 0.00
19402  9e1dc5bc      0                 2.30
19403  1d868f8d      0                 0.00
19404  daa2761c      0                 2.42
19405  2f444b99      0                 0.50
19406  85d97766      0                 0.00
19407  11de9e2f      0                 0.00
19408  d66b1078      0                15.43
19409  d9a8117f      0                 3.19
19410  3e8f8ea2      0                 0.00
19411  1a1d5aa0      0                 1.60
19412  ef43d670      0                 3.09
19413  824fa9e3      0                 0.00

[19414 rows x 3 columns]

In [34]:
datastd=data1.groupby('person').std()

In [35]:
datastddtrain=label_train.merge(datastd,on='person',how='left')

In [36]:
datastddtrain.fillna(0)

         person  label              diftime
0      0566e9c1      0                 0.49
1      6ec7ee77      0                 0.00
2      abe7a2fb      0                36.69
3      34728364      0                 0.52
4      87ed62de      0                 0.82
5      db2c4d27      1                35.47
6      cde431db      0                 1.22
7      be65035b      0                 1.53
8      a4178891      0                 0.00
9      d066f64c      0                 1.27
10     47a783b9      0                 0.42
11     7fc00648      0                 6.09
12     ce16abb3      0                 0.33
13     4b38d082      0                 0.00
14     0566e256      0                 3.05
15     e0ffa75e      0                 0.00
16     79ed8b5b      0                 0.63
17     20f4c917      0                 0.00
18     c4af15f2      0                 0.00
19     de1a55e7      0                 0.00
20     57bab525      0                 2.87
21     16426a08      0                 0.45
22     111ac3c5      0                 1.73
23     8f73daae      0                 8.50
24     001ca5ee      0                 8.47
25     8123457d      1                14.45
26     6b78331f      0                 1.30
27     6421d9fe      0                 2.65
28     d343d6ee      0                 0.00
29     835621ad      0                 7.30
...         ...    ...                  ...
19384  2fd6b983      0                 0.00
19385  f30721d8      0                12.43
19386  5661d24b      0                 0.00
19387  69f54c01      0                 6.12
19388  5dc3dfa0      0                13.48
19389  538c3e87      1                 2.26
19390  53310f1e      0                17.73
19391  d02b846e      0                16.76
19392  fd0c46ae      0                12.22
19393  c1ce8fe8      0                 0.00
19394  a10d7315      0                 2.20
19395  fca36951      0                 1.83
19396  abe8384c      0                 9.00
19397  a4f586da      0                 0.00
19398  fa24d575      0                 0.73
19399  65f9674b      0                 0.95
19400  61096769      0                 3.15
19401  d144c86d      0                 0.00
19402  9e1dc5bc      0                 1.64
19403  1d868f8d      0                 0.00
19404  daa2761c      0                 2.61
19405  2f444b99      0                 0.71
19406  85d97766      0                 0.00
19407  11de9e2f      0                 0.00
19408  d66b1078      0                19.87
19409  d9a8117f      0                 7.12
19410  3e8f8ea2      0                 0.00
19411  1a1d5aa0      0                 2.51
19412  ef43d670      0                 2.02
19413  824fa9e3      0                 0.00

[19414 rows x 3 columns]

In [37]:
datamedian=data1.groupby('person').median()

In [38]:
datamediatrain=label_train.merge(datamedian,on='person',how='left')

In [39]:
datamediatrain.fillna(0)

         person  label              diftime
0      0566e9c1      0                 0.00
1      6ec7ee77      0                 0.00
2      abe7a2fb      0                 1.00
3      34728364      0                 1.00
4      87ed62de      0                 0.00
5      db2c4d27      1                 1.00
6      cde431db      0                 0.00
7      be65035b      0                 2.00
8      a4178891      0                 0.00
9      d066f64c      0                 1.00
10     47a783b9      0                 0.00
11     7fc00648      0                 3.50
12     ce16abb3      0                 0.00
13     4b38d082      0                 0.00
14     0566e256      0                 0.00
15     e0ffa75e      0                 0.00
16     79ed8b5b      0                 0.00
17     20f4c917      0                 0.00
18     c4af15f2      0                 0.00
19     de1a55e7      0                 0.00
20     57bab525      0                 1.00
21     16426a08      0                 0.00
22     111ac3c5      0                 0.00
23     8f73daae      0                 0.50
24     001ca5ee      0                 2.00
25     8123457d      1                 0.50
26     6b78331f      0                 0.00
27     6421d9fe      0                 1.00
28     d343d6ee      0                 0.00
29     835621ad      0                 1.00
...         ...    ...                  ...
19384  2fd6b983      0                 0.00
19385  f30721d8      0                 5.00
19386  5661d24b      0                 0.00
19387  69f54c01      0                 0.00
19388  5dc3dfa0      0                 3.50
19389  538c3e87      1                 1.00
19390  53310f1e      0                 4.00
19391  d02b846e      0                 5.00
19392  fd0c46ae      0                 2.00
19393  c1ce8fe8      0                 0.00
19394  a10d7315      0                 0.50
19395  fca36951      0                 1.50
19396  abe8384c      0                 0.00
19397  a4f586da      0                 0.00
19398  fa24d575      0                 1.00
19399  65f9674b      0                 0.00
19400  61096769      0                 0.00
19401  d144c86d      0                 0.00
19402  9e1dc5bc      0                 2.50
19403  1d868f8d      0                 0.00
19404  daa2761c      0                 2.00
19405  2f444b99      0                 0.50
19406  85d97766      0                 0.00
19407  11de9e2f      0                 0.00
19408  d66b1078      0                 6.00
19409  d9a8117f      0                 0.50
19410  3e8f8ea2      0                 0.00
19411  1a1d5aa0      0                 1.00
19412  ef43d670      0                 2.00
19413  824fa9e3      0                 0.00

[19414 rows x 3 columns]

In [44]:
events_test['date'] = pd.to_datetime(events_test['timestamp'])

In [45]:
 #calculamos la diferencia de tiempo entre eventos para el train
data1=events_test
data1=events_test.loc[:,['person','date']].sort_values('date',ascending=True)
data1['dateaux']=data1['date'].shift(periods=1,axis=0)
data1['personaux']=data1['person'].shift(periods=1,axis=0)
data1['aux']=data1['person']==data1['personaux']
#data1.groupby('person').apply(lambda x: )
data1=data1[data1['aux']==True]
data1['diftime']=(data1['date']-data1['dateaux']).dt.total_seconds()
len(data1)
#aca tenemos la desviacion estandar
# data1=data1.loc[:,['person','diftime']]

# #aca va la desviacion estandar
# datostd=data1.groupby('person').agg({'diftime':np.std})
# datostd.head()

418324

In [50]:
data1=data1[['person','diftime']]
data1.head()

           person              diftime
1167711  0f4e2a4b                 0.00
1167726  0f4e2a4b                 0.00
1167710  0f4e2a4b                13.00
1167720  0f4e2a4b             2,145.00
1167717  0f4e2a4b                 0.00

In [51]:
datamean=data1.groupby('person').mean()

In [52]:
datamediatest=test.merge(datamean,on='person',how='left')

In [54]:
# datamediatest.fillna(0)

In [55]:
datastd=data1.groupby('person').std()

In [56]:
datastdtest=test.merge(datastd,on='person',how='left')

In [58]:
# datastdtest.fillna(0)

In [59]:
datamedian=data1.groupby('person').median()

In [60]:
datamediantest=test.merge(datamedian,on='person',how='left')

In [61]:
datamediantest.fillna(0)

         person              diftime
0      4886f805                 0.50
1      0297fc1e                 4.00
2      2d681dd8                 1.00
3      cccea85e                 1.00
4      4c8a8b93                 1.00
5      29ebb414                 0.00
6      3dc1950f                 2.00
7      8ea4c165                 1.00
8      d8cfe234                 0.00
9      d6bc64df                 4.00
10     ec9c4059                 0.00
11     d21b8e6b                 6.00
12     2a724d87                 0.00
13     686c49c9                 0.00
14     a08d42ea                 1.00
15     c98f5cf1                 0.00
16     d614c608                 0.00
17     e45acd53                 1.00
18     7d876393                 2.00
19     f5af843f                 1.00
20     5a724794                 0.00
21     00091926                 2.00
22     55d1e0ee                 0.00
23     f87be219                 0.00
24     49c19e32                 2.00
25     bb78c182                 0.00
26     e2bfe05f                 1.00
27     0e9d0ae2                 0.00
28     cb68850c                 0.00
29     f30ef764                 0.50
...         ...                  ...
19385  523c7e69                 0.00
19386  d2e564cb                 2.00
19387  eb27e544                 2.00
19388  b32e7113                 0.00
19389  a65f2cf0                 0.00
19390  a70b9f00                 1.00
19391  a161fd76                 1.00
19392  e9a4d3a8                 0.00
19393  24f53ba2                 1.00
19394  39cf8fa0                 0.00
19395  9ceab28a                 0.00
19396  f85da107                 0.00
19397  154d2935                 0.00
19398  3adf7ca4                 0.00
19399  2e89874a                 0.00
19400  ef4e52ab                 3.00
19401  85e0f62a                13.50
19402  2c209f87                 0.00
19403  4ddb8c19                 0.00
19404  25bd8078                 0.00
19405  87d306fc                 0.00
19406  a2b1e355                 0.00
19407  fb88a7ea                 0.00
19408  9707cd0e                 0.00
19409  6f7632db                 0.00
19410  a1c2a901                 0.00
19411  ed3f80d7                 0.00
19412  92f2d94b                 0.00
19413  40bf23ab                 0.00
19414  80aea0a0                 0.00

[19415 rows x 2 columns]

In [155]:
#feature engieri del test,misma columna train,pero sin label.

In [137]:
# es entrenar el modelo en  ramdom forest

In [138]:
#formato del train